body{
    position:fixed;
    display:grid;
    justify-content: center;
    align-items: center;
    width:95%;
}
body div{ 
    margin-left:3px;
    margin-right:3px;
    margin-bottom:0px;
    margin-top:0px;
}
.iphone-frontside{
    border-radius: 40px;
    display:flex;
    height:600px;
    width:300px;
    background-color:#B00D23;
}
.black-center{
    border-radius: 35px;
    margin:2%;
    height:587px;
    width:300px;
    background-color: black;
}
.screen{
    margin:2%;
    height:460px;
    background-color:rgb(20, 19, 19);
    box-shadow: 0 0 10px 0 rgba(60, 60, 60, 0.45) inset;
}
.speaker{
    text-align: center;
    height:9%;
}
.speaker img{
    width: 60px;
    margin-top:25px;
    border-radius: 70px;
}

/*Buttons*/
.home-button{
    margin-left:40%;
    margin-top:3%;
    margin-right:40%;
    margin-bottom:3%;
}
.home-button button{
    border-width:0;
    border-radius:50%;
    height:50px;
    width:50px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(42, 42, 42) 2px 1px 1px 2px inset, rgba(42, 42, 42) -2px -1px 1px 2px inset;
}
.home-button button:active{
    box-shadow: none;
}
.power-button {
    position: absolute;
    right:30%;
    padding-top: 40px;
    padding-right: 5px;
    background-color: #B00D23;
    border-radius: 10px;
}
.volume-up{
    position: absolute; 
    padding-top: 40px;
    padding-right: 5px;
    background-color: #B00D23;
    border-radius: 10px;  
}
.volume-down{
    position: absolute;
    padding-top: 40px;
    padding-right: 5px;
    background-color: #B00D23;
    border-radius: 10px; 
}